/* CSS Document */

@media screen and (min-width: 320px) {
.navigation ul{
	float: right;	
	list-style-type: list;
}

.navigation ul li{
	display: inline;
}
}

@media screen and (min-width: 480px) {
.navigation ul{
	float: right;	
	list-style-type: list;
}
	

body {
	color: black;
}
}

@media screen and (min-width: 600px) {
	
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 900px) {
	
}

@media screen and (min-width: 1200px) {
.navigation ul{
	float: right;	
	list-style-type: none;
}

.navigation ul li{
	display: inline;
}
}
.navBar {
	width: 100%;
	height: 100px;
	background-color: orange;	
}
.nav_title {
	float: left;
	width: 25%;
	color: red;
}


.clear_float {
	float: clear;
}

.leftBuffer {
	width: 5%;	
	float: left;
}

.rightBuffer {
	width: 5%;
	float: right;
}

.3_square {
	margin-top: 10px;	
}

.square {
	width: 30%;
	height: 300px;
	margin-right: 10px;
	background-color:green;
	float: left;
}